.main {
  min-width: 250px;
  min-height: 250px;
}
#product-img {
  height: 150px;
  width: 150px;
}
#Container {
  display: none;
}
#get-button {
  margin: 5px;
  margin-left: auto;
  width: 245px;
}
#product-copy {
  width: 245px;
  height: 150px;
}
